html {
	
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

body {
	background-image:url("kitties.jpg");
	
}

.container {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background: grey;
	
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
.child {
	border: 5px solid blue;
	width: 275 px;
	padding: 25px;
}



h2 {
	color:black;
}

td {
	color:black;
}

dl {
  width: 40%;
  overflow: hidden;
}

dt { 
  float: left;
  width: 134;
  /* adjust the width; make sure the total of both is 100% */
  background: #ff00ff;
  padding: 0;
  margin: 0 

	
	
}

dt:after{
	content:':';

}

dd {
  float: left;
  width: 134px;
  /* adjust the width; make sure the total of both is 100% */
  background: #ff7f50;
  padding: 0;
  margin: 0;

}