html {
	
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

body {
	background-image:url("kitties.jpg");
	
}

.container {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background: grey;
	
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}
.child {
	border: 5px solid blue;
	width: 275 px;
	padding: 25px;
}



h2 {
	color:black;
}

td {
	color:black;
}